.dashboard {
    margin: 45px 30px ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 820px; 
    
    .places-list {
        .place {
            margin: 45px 0px ;
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: flex-start;         

            .place-infos {
                display: flex;
                flex-direction: row;
                justify-content: left;

                .edit-button {
                    width: auto;
                    height: 50px;
                    margin: 37px 0px 0px 0px;
                    border-radius: 30px;
                    position: relative;
                    top: -22px;
                }

                .infos {
                    width: 250px;
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
                    margin: 5px 30px;
                    
                    .infos-text {
                        margin: 0px 0px;
                    }
                    .infos-interests {
                        display: flex;
                        flex-direction: row;
                        justify-content: left;

                        .icon {
                            font-size: 20px;
                        }
                    }
                }
                

                .set-infos-form {
                    width: 422px;
                    .title {
                        padding-left: 8px;
                        width: 100px;
                    }
                    .name, .email, .address {
                        display: flex;
                        flex-direction: row;
                        justify-content: left;
                        input {
                            padding: 5px;
                            width: 328px;
                            position: relative;
                            top: -4px;
                        }
                    }
                    .interests {
                        display: flex;
                        flex-direction: row;
                        justify-content: left;
                        
                        .block {
                            display: flex;
                            flex-direction: row;
                            justify-content: left;
                        }
                        
                        .checks-container {
                            margin-left: 25px;
                            height: 50px;
                            display: flex;
                            flex-direction: row;
                            justify-content: left;
                            align-items: flex-start;
                            position: relative;
                            top: -4px;
                            left: -27px
                        }
                    }
                                      
                    .edit-buttons {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        position: relative;
                        left: -45px;
                        button {
                            border-radius: 30px;
                        }
                    }
                }
                    
            }

            .updating-state {
                position: relative;
                top: 25px;

                select {
                    height: 37px;
                }
                
                button {
                    padding: 7px;
                    border-radius: 10%;
                    background-color: $white;
                }
            }

            .status-icon{
                padding: 7px;
                height: fit-content;
                width: fit-content;
                border-radius: 100%;
                background-color: $white;
                size: 20px;
                position: relative;
                top: 25px;
            }
        }
    }

    .add-place {
        margin: 45px 0px ;
        
        .add-form {
            margin-top: 30px ;

            .title {
                padding-left: 8px;
                width: 100px;
            }
            
            .name, .email, .address {
                display: flex;
                flex-direction: row;
                justify-content: left;

                input {
                    padding: 5px;
                    width: 328px;
                    position: relative;
                    top: -4px;
                }
            }
            .interests {
                display: flex;
                flex-direction: row;
                justify-content: left;
                
                .block {
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                }
                
                .checks-container {
                    margin-left: 25px;
                    height: 50px;
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                    align-items: flex-start;
                    position: relative;
                    top: -4px;
                    left: -23px
                }
            }

            .edit-buttons {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                position: relative;
                left: -57px;
                button {
                    border-radius: 30px;
                }
            }
        }
        .edit-button {
            border-radius: 30px;
        }
    }
}
