.editor-new {
    margin: 45px 30px ;
    .submit-form {
        margin-top: 30px ;
        .name, .email, .address {
            display: flex;
            flex-direction: row;
            justify-content: left;
            input {
                position: relative;
                top: -10px;
            }
        }
        .interests {
            display: flex;
            flex-direction: row;
            justify-content: left;
            
            .block {
                display: flex;
                flex-direction: row;
                justify-content: left;
            }
            
            .checks-container {
                margin-left: 25px;
                height: 50px;
                display: flex;
                flex-direction: row;
                justify-content: left;
                align-items: flex-start;
                position: relative;
                top: -5px;
            }
        }
    }
}