.container {
    display: flex;
    height: 60vh;
  }
  
  .controls {
    width: 20%;
    padding: 1rem;
    background: #14161a;
    color: #fff;
  }
  
  .controls input {
    border: none;
  }
  
  .map-container {
    width: 100%;
    height: 60vh;
  }
  
  .map {
    width: 80%;
    height: 60vh;
  }
  
  .highlight {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .combobox-input {
    width: 100%;
    padding: 0.5rem;
  }