.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 92.8vh;
  }
  
  .controls {
    width: 20%;
    padding: 1rem;
    background: #14161a;
    color: #fff;
  }
  
  .controls input {
    border: none;
  }
  
  .map-container {
    width: 100%;
    height: 92.8vh;
  }
  
  .map {
    width: 100%;
    height: 92.8vh;
  }
