.navbar {
  position: fixed;
  background-color: $white;
  padding: 15px 10px 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 2;
  width: 100%;
  min-width: 280px;

  @media screen and (max-width: 585px) {
    justify-content: center;
    padding: 15px 10px 5px 10px;
    width: fit-content;
  }

  .logo {
    display: flex;
    align-items: center;
    margin-left: 60px;
    @media screen and (max-width: 1030px) {
      margin-left: 40px;
    }
    @media screen and (max-width: 585px) {
      margin-left: 0px;
    }
  
    img {
      height: 50px;
      width: 150px;
    }
  }
}

